<h4>ngx-drag-scroll issue</h4>
<button mat-button (click)="toggle()">Toggle "scrollbar-hidden" property</button>

<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			Test
		</mat-expansion-panel-header>
		<drag-scroll [scrollbar-hidden]="true" [ngClass]="{'hide-scrollbar': sh }" #nav> 
			<div *ngFor="let color of colors" class="color-block" [ngStyle]="{'background-color': color}" drag-scroll-item>
      </div>
		</drag-scroll>
    <button mat-icon-button class="next" (click)="moveLeft()" aria-label="Example icon button with a open in new tab icon">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button mat-icon-button class="previous"  (click)="moveRight()" aria-label="Example icon button with a open in new tab icon">
      <mat-icon>chevron_left</mat-icon>
    </button>
	</mat-expansion-panel>
</mat-accordion>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->